.Centering {
    width: 100%;
    margin: auto;
}

.About {
    &__Dropdown {
        width: 80%;
        margin: auto;
        margin-top: 38px;
        margin-bottom: 162px;
        @media screen and (max-width: 425px) {
            width: 90%;
            margin-bottom: auto;
            margin-top: 20px;
        }
        &--spacing {
            margin-bottom: 30px;
            @media screen and (max-width: 425px) {
                margin-bottom: 20px;
            }
        }
    }
}