.Homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sizing {
    max-width: 1440px;
    min-width: 1440px;
    margin: auto;
    flex: 1;
    @media screen and (max-width:425px) {
        min-width: unset;
    }
}

.MainDiv {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}