.dropbtn {
    display: flex;
    width: 100%;
    height: 52px;
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    color: white;
    background-color: #FF6060;
    align-items: center;
    justify-content: space-between;
    border: 0px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.67px;
    text-align: left;
    @media screen and (max-width: 425px) {
        border-radius: 5px;
        height: 30px;
        font-size: 13px;
        line-height: 18px;
    }
}

.dropdown-content {
    margin: 0px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(246, 246, 246, 0.45);
    p {
        margin: 0px;
        @media screen and (max-width: 425px) {
            font-size: 12px;
            line-height: 17px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.show {
    max-height: 1000px;
    padding: 10px;
    @media screen and (max-width: 425px) {
        padding-top: 13px;
        padding-bottom: 19px;
    };
}
  
.arrow {
    transition: transform 0.5s ease-out;
    @media screen and (max-width: 425px) {
        width: 16px;
    }
}

.rotate {
    transform: rotate(-180deg);
    &.reverse {
        transform: rotate(0deg);
    }
}
  