.slider {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 100%;
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  .Proprietaire__Image {
    max-height: 50px;
    max-width: 50px;
  }